:root {
  --primary-color: rgba(19, 13, 18, 1);
  --secondary-color: rgba(237, 215, 255, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
/* Utility Classes */

.text-primary {
  color: green;
}

/* Success and Error */

.success,
.error {
  color: white;
  padding: 5px;
  margin: 5px 0 15px 0;
}

.success {
  background: green;
}

.error {
  background: red;
}

/* Navbar */

#navbar h1 {
  display: inline-block;
}
.logo {
  height: 100px;
  width: 100px;
  padding: 4px;
  border-radius: 50%;
  background: rgba(47, 150, 47, 0.5);
}

#navbar {
  display: flex;
  top: 0;
  position: sticky;
  background: #fff;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: right;
  padding: 0 2rem;
}

#landing-showcasevideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.landing-header-title {
  text-align: center;
}
.landing-showcase-content {
  position: fixed;
  padding: 10px 20px;
  background: rgba(27, 2, 27, 0.1);
  bottom: 25%;
  right: 45%;
  text-align: center;
  border-radius: 10%;
  color: #f1f1f1;
}
.landing-showcase-content a {
  text-align: center;
  color: #f1f1f1;
}

.vip-navbar {
  background-color: var(--primary-color);
}

.header-title h1 {
  text-align: center;
}
#main-footer {
  padding-top: 50px;
  align-content: center;
  justify-content: center;
  text-align: center;
}

#footer-navbar {
  display: flex;
  top: 0;
  position: sticky;
  background: #fff;
  color: #fff;
  justify-content: center;
  z-index: 1;
}

#footer-navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: right;
}

#footer-navbar ul li a {
  color: #333;
  padding: 1rem 0.5rem;
  font-size: 15px;
}

.social-media-icons {
  font-size: 10px;
  margin-bottom: 0;
  padding-top: 70px;
  color: #333;
}

.social-media-icons a {
  color: #333;
  padding: 0 3px;
}

.social-media-icons a:hover,
#footer-navbar ul li a:hover {
  color: var(--primary-color);
}

#showcase {
  background: #333 url("/images/neal-e-johnson-fwXkHBFoETE-unsplash.jpg")
    no-repeat center center/cover;
  height: 100vh;
  color: white;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-content: center;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.btn {
  padding: 15px 25px;
  border-radius: 5px;
  background: var(white);
  font-size: 1.5rem;
  color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  opacity: 0.7;
}

.btn:hover {
  background: var(--secondary-color);
}
#showcase .showcase-content h1 {
  font-size: 5rem;
  line-height: 7rem;
  color: rgba(136, 226, 136, 0.5);
  padding: 3px;
  margin-top: 40px;
}
#showcase .showcase-content h1 .l-heading {
  color: rgba(255, 255, 255, 0.4);
}
.l-heading {
  font-size: 7rem;
}
#showcase .showcase-content p {
  padding: 2rem;
  font-size: 1.5rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

  color: rgba(255, 255, 255, 0.4);
}

#first-section {
  background: var(--primary-color);
  text-align: center;
  color: white;
}
#first-section img {
  width: 100%;
}

#second-section {
  background: var(--primary-color);
  text-align: center;
  color: white;
}
#second-section img {
  width: 100%;
}

.second-section-left {
  background: white;
  color: var(--secondary-color);
  width: 100%;
}
.second-section-right {
  background: var(--secondary-color);
}

#third-section {
  background: var(--primary-color);
  text-align: center;
  color: white;
}
#third-section img {
  width: 100%;
}

.third-section-right {
  background: white;
  color: var(--secondary-color);
  width: 100%;
}
.third-section-left {
  background: var(--secondary-color);
}
