* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1rem;
}

#navbar {
  display: flex;
  background: black;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  opacity: 0.9;
  position: fixed;
  width: 100%;
}

#navbar.navbar-contact {
  position: relative;
}

.py-3 {
  padding: 30px 0px;
}
.py-2 {
  padding: 20px 0px;
}

.showcase-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: gold;
  text-align: center;
}

.showcase-overlay h1 {
  padding-top: 25%;
}

.showcase-overlay h3 {
  padding: 20px 0px;
  font-size: 2.5rem;
}
#navbar ul {
  display: flex;
  list-style: none;
  align-items: center;
}

#navbar ul a {
  font-size: 1rem;
  text-decoration: none;
  margin: 0 15px;
  color: gold;
  height: 100%;
}

.book-us-divider {
  width: 87%;
  margin: auto;
  opacity: 0.4;
}
#book-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  padding: 20px;
  height: 70vh;
}

#book-us h1 {
  font-size: 2rem;
  padding-bottom: 20px;
}

#book-us p {
  font-size: 1.2rem;
  padding: 10px 50px;
}

.logo {
  margin: 0 50px;
  font-size: 1.3rem;
  color: gold;
}

#showcase {
  background: url("/images/home/hero-image-2.jpg") no-repeat center center/cover;
  height: 100vh;
}

.recent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px 50px;
}

.recent .photo-grid {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.recent .photo-grid img {
  width: 30%;
  flex: 33%;
  padding: 10px;
  max-height: 400px;
}

.recent h1 {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.features {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin: 30px 0;
  height: 70vh;
}

.features .feature {
  flex-direction: column;
  align-items: center;
  flex: 33%;
  width: 30%;
  padding: 15px;
  text-align: center;
}

.showcase-overlay h2 {
  display: inline-block;
  margin: 50px 0px 0px 0px;
  padding: 10px 20px;
  font-size: 1.3rem;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5%;
}

.showcase-overlay h1 {
  font-size: 2rem;
}
.features .feature img {
  width: 100%;
  max-height: 400px;
}

#icons {
  display: flex;
  background-color: black;
  height: 300px;
  color: gold;
}

#icons .icon-item {
  display: flex;
  flex-direction: column;
  width: 30%;
  flex: 33%;
  text-align: center;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#icons h3 {
  padding: 20px 0px;
}

.footer-vip {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  color: gold;
  padding: 20px 0;
}

.footer-vip .social i {
  color: gold;
  padding: 0 5px;
}

.footer-vip .social {
  padding: 20px 0;
}

#our-features {
  margin: 15px 0;
  padding: 10px 10px;
  width: 100%;
}
#our-features h1 {
  display: block;
  font-size: 2.5rem;
  margin: auto;
  text-align: center;
}

#contact-us-page-section-one {
  padding: 20px 10px 10px 50px;
}

#contact-us-form {
  padding: 0px 10px 10px 50px;
}

.btn {
  padding: 10px 20px;
  background-color: black;
  color: gold;
}

.btn:hover {
  color: yellow;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.half-row {
  width: 40%;
  padding: 10px;
  /* padding: 20px; */
}

.full-row {
  width: 80%;
  padding: 10px;
  /* padding: 20px; */
}
textarea {
  width: 300px;
  min-height: 200px;
}

form {
  padding: 0px 20px;
}

.contact-us-container h1 {
  font-size: 2rem;
}
.contact-us-container h4 {
  font-size: 1.2rem;
}

.contact-button {
  margin-left: 10px;
  border-radius: 10%;
}

.contact-us-container {
  padding: 5px 30px;
}

.contact-us-container hr {
  width: 80%;
}
